*{
  margin: 0px;
  padding: 0px;
  font-family: Ubuntu;
  box-sizing: border-box;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #DE7047;
  padding: 20px;
  margin: 0px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #FFDE8D;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #FFFFFF;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 535px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
hr {
    border: 0px solid white;
    margin-bottom: 25px;
}

br {
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

form .my-input {
	margin-bottom: 10px;
}

form .my-register {
  margin: 0 auto;
  width:250px;
}

form .my-input:after {
	content: "";
	display: block;
	clear: both;
}

form label {
	width: 150px;
	float: left;
	padding-top: 7px;
  font-weight: bold;
}

form input {
	display: inline-block;
	overflow: hidden;
	padding: 7px 15px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.footer {
   position: fixed;
   padding: 20px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #528540;
   color: black;
   text-align: center;
}

.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 15%;
    background-color: #FFDE8D;
    height: 540px;
}

/* Middle column */
.column.middle {
    width: 75%;
}

.card{
  width: 150px;
  height: 200px;
  background-color: pink;
  margin: 5px;
  padding: 5px;
  float: left;
  border-radius: 0 0 20px;
}

.card img{
  width: 100px;
  height: 100px;
}

.column.side a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.column.side a:hover{
  color: #f1f1f1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
